@import "./variables.scss";

.todo-app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    padding: $base * 4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: $base * 2;
    background-color: $todo-app-background;
    border-radius: $base * 2;

    width: 1150px;
    height: 650px;
  }

  &-item {
    padding: $base * 4;
    width: 50%;
    min-width: 300px;
    height: 100%;
    background-color: $todo-list-background;
    border-radius: $base * 2;
  }
}

.buttons {
  display: flex;
  justify-content: right;
}

.button-submit {
  background-color: $todo-add;
  color: white;

  &:hover {
    filter: brightness(105%);
  }
}

.todo-button {
  cursor: pointer;
  padding: $base * 2 $base * 4;
  border-radius: $base * 2;
  border: none;
  outline: none;
}

.todo-list::-webkit-scrollbar,
.todo-update-description::-webkit-scrollbar {
  width: $base * 6;
}

.todo-list::-webkit-scrollbar-track,
.todo-update-description::-webkit-scrollbar-track {
  border-radius: $base * 25;
}

.todo-list::-webkit-scrollbar-thumb,
.todo-update-description::-webkit-scrollbar-thumb {
  border: 8px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  background-color: #bbbbbb;
  border-radius: $base * 25;
}
